.top-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    flex-grow: 1;
    max-width: 300px;
}

.container {
    display: flex;
}

.side {
    width: 220px;
    background-color: rgb(209, 206, 206);
    padding: 20px;
    height: 100vh;
}

.bar ul {
    list-style: none;
    padding-left: 0;
}

.bar li {
    margin: 8px 0;
}

.bar h2,
.bar h4 {
    margin-bottom: 10px;
}

.main {
    padding: 20px;
    flex: 1;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    text-align: center;
}

img {
    height: 300px;
    width: 220px;
    border-radius: 12px;
}

h1,
h3,
h5 {
    color: black;
}

h5 {
    margin-top: 5px;
}